@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
}

header 
{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    min-height: 5vh;
    background: #131316;
}

header .header-panel1
{
    /* border: 1px solid yellow; */
    width: 50%;
    text-align: center;
}

header .header-panel2
{
    /* border: 1px solid red; */
    width: 50%;
    text-align: center;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    padding: 100px 20vw;
}

section#first .header-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

section#first .header-first svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
}

section#first .header-first .shape-fill {
    fill: #131316;
}

section#first
{
    background: #3b037a;
    border: 3px solid yellow;
}

section#first .first-section-container
{
    /* width: 100%; */
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

/* !!! */

section#first .first-section-container > div
{
    border: 2px solid red;
    font-size: 2rem;
    width: 100%;
}

section#first .first-section-container .galery
{
    width: 100%;
    height: 100%;
    position: relative;
}

.section-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.section-first svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 72px;
}

.section-first .shape-fill {
    fill: #3b037a;
}

section#second
{
    background: #131316;
}