@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: grey;
    color: white;
    display: flex;
    flex-direction: column;
}

header 
{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    min-height: 5vh;
    background: #131316;
}

header .header-panel1
{
    /* border: 1px solid yellow; */
    width: 50%;
    text-align: center;
    
}

header .header-panel2
{
    /* border: 1px solid red; */
    width: 50%;
    text-align: center;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 5vh;
    padding: 100px 20vw;
}

.header-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.header-first svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
}

.header-first .shape-fill {
    fill: #131316;
}